@import url("reset.css");
@import url("layout.css");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
@import url("font-awesome.min.css"); 
@import url("fontello.css");

body{
	font-family : Arial, Helvetica, sans-serif;
	color : #4B4C4D;
}
h2, h3, h4, h5 {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight : 400;
	clear : both;
	margin-bottom : 20px;
}
h1 {
	font-size : 46px;
	line-height : 56px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight : 300;
}
#index h1 {
	margin-bottom : 20px;
	font-size : 26px;
	line-height : 36px;
	font-weight : 400;
}
h2 {
  font-size : 22px;
  line-height : 32px;
}
p+h2, div+h2, ul+h2, ol+h2 {
	margin-top : 35px;
}
h3 {
	font-size : 20px;
	line-height : 30px;
}
p+h3, div+h3, ul+h3, ol+h3 {
	margin-top : 30px;
}
h4 {
	font-size : 18px;
	line-height : 24px;
}
p+h4, div+h4, ul+h4, ol+h4 {
	margin-top : 25px;
}
h5 {
	font-size : 16px;
	line-height : 22px;
}
b, strong {
	font-weight : bold;
}
em {
	font-style : italic;
}
p {
	margin-bottom : 20px;
}
blockquote {
	padding-left : 2%;
	margin-left : 3%;
	font-style : oblique;
	font-size : 13px;
	overflow : hidden;
	margin-bottom : 20px;
	border-left : thick solid #CFCFCF;
}
blockquote p:last-child {
	margin-bottom : 0px;
}
blockquote:before {
	font-size : 20px;
	content:"\f10d";
	font-family:'FontAwesome';
	float : left;
	margin-right : 10px;
}
p.np {
	margin-top : 40px;
}
a {
	color : #4B4C4D;
}
a:hover {
	color : #191A1A;
}
p a {
	text-decoration : underline;
	color : #e7402f;
}
p a:hover {
	text-decoration : none;
}
.button {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;    
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
	text-decoration : none!important;
}
.button.medium {
	padding:14px 25px;
	margin-right:10px;
	font-size : 16px;
}
.button.small {
	padding:10px 15px;
	margin-right:30px;
	font-size : 14px;
}
.button.normal {
	background:#f1f1f1;
	color:#5a5c5d;
}
.button.color {
	color:#fff;
	background:#e7402f;
}
.button:hover {
	background-color : #272727;
	background:rgba(0, 0, 0, 0.5);
}
img {
	margin-bottom : 20px;
}
p img {
	margin-right : 3%;
	max-width : 33%!important;
	float : left;
	margin-top : 6px;
}
img.fl-right {
	margin-left : 3%;
	max-width : 33%!important;
}
p+ul, p+ol {
	margin-top : 20px;
}	
ul+p, ol+p {
	margin-top : 20px;
}
.articlebody ol ol, .articlebody ul ul {
	margin-top : 15px;
	margin-left : 14px;
}
.articlebody li {
	margin-bottom : 15px;
	margin-left : 20px;
}
.articlebody ul li {
	list-style : disc outside;
}
.articlebody ol li {
	list-style : decimal outside;
}

/*-- header -----------------------------*/

#header{
	
}
#header [class*="col-"] {
	margin-bottom : 0px;
}
#top-social {
	background-color : #4B4C4D;
	padding : 15px 0;
	font-size : 13px;
}
#top-social i {
	font-size : 16px;
}
#top-social span i {
	margin-right:5px;
}
#top-social a {
	color : #d7d7d7;
	margin-left : 5px;
}
#top-social a:hover {
	color : White;
}
#top-social span {
	color : #d7d7d7;
	margin-right : 15px;
}
#top-social a i {
	padding : 3px 2px;
	border-radius: 2px;
	-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
#top-social a:hover i {
	background-color : White;
}
a:hover .icon-twitter {
	color : #00ACF2;
}
a:hover .icon-facebook {
	color : #3E578D;
}
a:hover .icon-odnoklassniki {
	color : #F58220;
}
a:hover .icon-vk {
	color : #5C82AB;
}
a:hover .icon-instagram {
	color : #305E7D;
}
a:hover .icon-gplus {
	color : #DD4C39;
}
a:hover .icon-linkedin {
	color : #0177B5;
}
a:hover .icon-tumblr {
	color : #344F6C;
}
a:hover .icon-youtube {
	color : #BC1E2C;
}
a:hover .icon-vimeo {
	color : #1BB6EC;
}
a:hover .icon-github {
	color : #2A2A2A;
}
a:hover .icon-pinterest {
	color : #CD1F29;
}
a:hover .icon-delicious {
	color : #0000FE;
}
a:hover .icon-android {
	color : #A6C939;
}
a:hover .icon-picasa {
	color : #A35CB8;
}
a:hover .icon-rss {
	color : #ED7321;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {

.rss {
	display : none;
}
}

.logo {
	margin : 25px 0;
}
.logo a {
	font : bold 45px/45px Arial, Helvetica, sans-serif;
	color : #4c4d4e;
	display : block;
	text-transform : lowercase;
}
.logo a:first-letter {
	color : #e7402f;
}
/*--- navigation --*/

nav {
	background-color : White;
}
#navigation ul {
	text-align : right;
}
#navigation ul li {
	position:relative;
	list-style:none;
	display:inline-block;
	height : 96px;
	width : auto;
}
#navigation ul li a { 
	display: inline-block;
	color : #4B4C4D;
	text-transform : uppercase;
	font-size : 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-top:4px solid #4b4c4d;
	padding : 0px 15px;
	line-height : 96px;
	position : relative;
	top : -4px;
}
#navigation ul li a:hover, #navigation ul li:hover a, #navigation .current a, #navigation .currentpath a {
	border-top:4px solid #e7402f;
}

/* -- page title ----------------------------------------*/

#page-title {
	background-color : #e7402f;
	color : White;
	margin-bottom : 40px;
	padding : 30px 0px 35px;
}
#page-title .col-12{
	margin-bottom : 0px;
}

/*-- content -------------------------------------------*/

#content {
	margin-bottom : 30px;
}
.article {
	padding-right : 20px;
}

/* -- table ------------------------------------------------*/
.article table {
	display : table;
	width : 100%!important;
	margin-bottom : 20px;
	height : auto!important;
	background-color : #e7402f;
}
.article table caption {
	margin-bottom : 10px;
	font-size : 16px;
}
.article th, .article td {
	border-collapse : collapse;
	padding : 8px 15px;
	text-align : center;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	border : 1px solid #ffffff;
}
.article th {
	font-weight : bold;
	color : #ffffff;
}
.article th:nth-child(1) {
	text-align : left;
}
.article td:nth-child(1) {
	text-align : left;
}
.article td {
	background-color : #D5D5D5;
	background-color: rgba(255, 255, 255, 0.8);
}
.article tr:hover td {
	background-color : #EDEDED;
	background-color: rgba(255, 255, 255, 0.85);
	color : Black;
}

/* --- forms -------------------------------*/

form {
	width : auto!important;
}
textarea {
	width: 400px;
	max-width: 90%!important;
	height: 180px;
	margin: 5px 0 15px 0;
	padding : 8px 10px;
	border : 1px solid #DADADA;
	position : relative;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
}
input[type="text"] {
	width: 240px!important;
	max-width : 90%!important;
	margin-bottom: 15px;
	padding : 8px 10px!important;
	border : 1px solid #DADADA;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
}
select {
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
	border : 1px solid #DADADA;
}
input[type="text"]:focus, textarea:focus {
	border: 1px solid #A6A6A6;
}
input[type="submit"] {
	padding: 9px 12px!important;
	display: inline-block;
	border: 0px;
	font-weight: bold;
	cursor: pointer;
	width: auto;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
	background-color : #e7402f;
	color : White;
	text-decoration : none;
	font-size : 16px;
}
.captcha {
	position : relative;
}
form a {
	background-color : #CECECE;
	color : White;
	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
}
.captcha a {
	padding: 9px 12px!important;
	display : inline;
	position : absolute;
	top : 30px;
	left : 250px;
}
.captcha label {
	cursor : default;
}
input[type="submit"]:hover {
	background-color : #aaa;
	color : White;
}

/*-- sidebar -------------------------------------------*/

#sidebar p {
	margin-bottom : 0px;
}
#sidebar h3 {
  	font-size : 22px;
  	line-height : 32px;
}
#sidebar .widget {
	margin-bottom : 20px;
}

/*-- footer ----------------------------------------------*/

#footer {
	background-color : #404041;
	padding : 30px 0px;
	color : #D7D7D4;
}
#footer p {
	margin-bottom : 0px;
}
#footer p+p {
	margin-bottom : 0px;
	margin-top : 20px;
}
#footer [class*="col-"] {
	margin-bottom:0;
}
#footer li+li {
	margin-top : 10px;
	border-top : 1px dashed #5B5B5B;
	padding-top:10px;
}
#footer li a {
	display : block;
	padding-left : 12px;
}
#footer li a:before {
	font-family:'FontAwesome';
	content : "\f100";
	position : relative;
	left : -10px;
}
#footer a {
	color : #D7D7D4;
}
#footer a:hover {
	text-decoration : none;
	color : White;
}
#footer .vfi {
	border : 1px solid #5B5B5B;
	padding : 5px;
}
#footer .mapWrapper {
  padding-bottom:34%;
}

/* -- copy --------------------------------------*/

#copy {
	padding : 20px 0px 5px;
	background-color : #383838;
	color : #D7D7D4;
}
#copy [class*="col-"] {
	margin-bottom:0;
}
#copy a {
	color : #D7D7D4;
}
#copy a:hover {
	color : White;
	text-decoration : underline;
}
#copy img {
	opacity:0.5;
	margin :0;
	padding : 0;
	position : relative;
	top : -5px;
}
#copy img:hover {
	opacity:0.9;
}
#cms {
	margin-left : 10px;
	margin-right : auto;
	width : 31px;
	height : 31px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	position : relative;
	display : inline-block;
	top:-5px;
	right : 0px;
	background-color : #272727;
}
#cms a {
	display : block;
	width : 20px;
	text-transform : uppercase;
	height : 20px;
	line-height : 20px;
	text-align : center;
	font-size : 9px;
	position : absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	text-decoration : none;
	color : #CCCCCC;
}
#cms .gs {
	left : -1px;
	top : -1px;
	background-color : #171717;
}
#cms .ru {
	bottom :-1px;
	right : -1px;
	background-color : #363636;
}
#cms a:hover {
	color : #242424;
	background-color : #EFEFEF;
	text-decoration : none;
}

/* --- go to top ------------------------------- */

#gotoTop {
    display: none;
    position: fixed;
    z-index: 150;
    top: 80%;
    right: 1%;
    width: 32px;
    height: 32px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;    
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    text-align : center;
    line-height : 30px;
    font-size : 28px;
	color : #404040;
	background : #D2D7D7;
}
#gotoTop:hover {
	background : #C62020;
	color : White;
}
